body::before{
    display: block;
    content: '';
    height: 50px;
    background-color:midnightblue;
}
/*select{
    background-color: navy;
    color: white;
    border: none;
    padding-top: 9px;
    font-weight: bold;
}*/
form{
    flex-direction: column;
}
@media (min-width: 768px){
    form{
        flex-direction: row;
    }
}
.coll p{
    font-size: 14px;
    width: 70%;
}
.navbar{
    background-color:midnightblue;
}
.btn{
    color: midnightblue;
    border: 1px solid white;
}
.btn:hover{
    border: 1px solid white;
    color:blue;
}
.section-1{
    background-color:midnightblue;
}
.card-title{
    color:midnightblue;
}
hr{
    color: turquoise;
    size: 3cm;
}
h6{
    font-weight: bold;
}
.ww{
    font-size: 10px;
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 12px;
    color: midnightblue;
    font-weight: bold;
}
.ww-header{
    
    margin: auto;
    color: midnightblue;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.coll{
    background-image: url('../imgs/Black-Art-XoX-783.jpg');
    background-repeat: no-repeat;
    color: #f4f4f4;
    border-radius: 6px;
    padding-top: 20px;
}
.text-navy{
    color: midnightblue;
}
.mouse-hover{
    background-color: #191971;
    color: #fff;
    transition: all 3.0s;
}
ul{
    padding-left: 9px;
    list-style: square blue;
}
h5{
    color: midnightblue;
    padding: none;
}
.text-half{
    width: 50%;
    
    margin: auto;
}
.bg-navy{
    background-color: midnightblue;
    color: white;
}
a{
    text-decoration:none;
}
.br-1{
    border-radius: 10px;
    border: transparent;
}
.underline:hover{
    padding-bottom: 5px;
    border-bottom: #fff solid 1px;
}